* {
	font-family: 'Source Sans Pro',"Sans-serif";
}

body {
	background-color: gray;
}

.page{
	width: 1000px;    
	background-color: white;   
	margin: auto;
 }

 h1,h2,h3 {
	 text-align: center;
 }

 h1 {
	 padding-top: 50px;
	 margin: 20px;
	 font-size: 60px;
 }

 h2 {
	 background-color: lightblue;
	 margin: 50px;
	 padding: 20px;
	 font-size: 35px;
 }

.pure-g{
	margin-bottom: 20px;
}

.pure-u{
	padding: 50px;
	margin: 50px;
}

p {
	padding: 50px;
}

.viz-container {
    width: 100%;
}